{
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": "off",
    "no-console": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": "off",
    "no-else-return": [
      "error",
      {
        "allowElseIf": true
      }
    ],
    "max-len": ["error", { "code": 200 }],
    "no-param-reassign": "off"
  }
}
