.logo {
  width: 200px;
  height: 200px;
  margin: 30px auto;
}
.title {
  margin: 10px auto;
  line-height: 1;
  font-size: 40px;
  color: #2b3a42;
  text-align: center;
}
.content {
  text-align: center;
}

.content a {
  margin: 10px;
}
