<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>webpack-page-cli</title>
  </head>

  <body>
    <div class="index">
      <div class="logo"><img src="./img/webpack.svg" /></div>
      <div class="title">webpack-page-cli</div>
      <div class="content">
        <a href="/about.html" target="_blank">About</a>
        <a href="https://github.com/KuangPF/webpack-page-cli" target="_blank">Github</a>
      </div>
    </div>
  </body>
</html>
